{% extends "layout.html" %}
#Jinja v2. 
{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/history" method="post">
        <div class="form-group">
            <head>DELETE UR HISTORY B4 DAD SEES IT</head>
            <input autocomplete="off" autofocus class="form-control" name="stock" placeholder="E.g - NFLX" type="file"/>
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="E.g - 1" type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}